<html>
<head>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react-with-addons.min.js"></script>-->

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
<link rel="stylesheet" href="../css/footer.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.5.4/react.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.5.4/react-dom.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap/0.31.0/react-bootstrap.min.js"></script>

<meta name="google-site-verification" content="tDfHMB4IZb7zYnJNK3lVBEqheNXE5jzYT9d0B4HCswE" />
</head>
<body>
<div id="NavContainer">
    <!-- This element's contents will be replaced with your component. -->
</div>


<footer> footer info goes here </footer>

<script src="../js/react/navbar3.js"></script>
</body>

</html>
