<html>
<head>
<script src="//code.angularjs.org/snapshot/angular.min.js"></script>
<script src="../js/register.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<link rel="stylesheet" href="../css/styles.css">
<link rel="stylesheet" href="../css/default.css">

</head>

<body>

<div class = "myheader">
	Register
</div>
<div ng-app="register" ng-controller="RegistrationController">
<form>
  <div class="form-group inpfield">
    <label for="regEmail">Email address</label>
    <input type="email" class="form-control" id="regEmail" placeholder="Email" ng-model="email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group inpfield">
    <label for="regPass">Password</label>
    <input type="password" class="form-control" id="regPass" placeholder="Password" ng-model="pass">
  </div>
  <button class="btn btnfield" ng-click="register()">Send</button>
</form>
{{email}}
</div>

</body>


</html>
