// default.scss

$font-stack: Helvetica, sans-serif;

$primary-color: #333;

$full-width: 100%;

body { font: 100% $font-stack; color: $primary-color; padding: 10%; }

.container { width: $full-width; }

.myheader { text-align: center; font-size: 20px; }

.inpfield { padding-right: 25%; padding-left: 25%; }
.btnfield { margin: 0 auto; display: block; }
